section header{
  font-size:28px;
  font-family:Open Sans;
  text-align:left;
}
nav header{
  font-size:28px;
  font-family:Open Sans;
  text-align:center;
  border-bottom:1px solid;
}
article{
  font-size:15px;
  color:#4d4e53;
  margin:15px;
  display:block;
}
#navbar{
  position:fixed;
  display:block;
  top:0px;
  bottom:0px;
  left:0px;
  right:1216.8px;
  width:300px;
  height:800px;
  border-right:2px solid #001616;
  
}
html{
  scroll-behavior: smooth;
}
main{
  width:1161.2px;
  height:5574.51px;
  line-height:24px;
  margin:0 0 110px 310px;
  padding:20px
}
.nav-link{
  text-align:left;
  color:4d4e53;
  padding:10px 30px;
  display:block;
  text-decoration:none solid rgb(77 78 83);
  transform:none;
  border-bottom:1px solid;
}
@media (max-width: 768px) {
  main{
    width: 358px;
  }

  nav {
    width: 318px;
  }
}

#code{
  background-color:#f7f7f7;
  border-radius:10px;
  font-size:10px;
  width:1000px;
  height:50px;
  margin:10px;
  padding:15px;
  position:relative;
}